NEXT_PUBLIC_APPWRITE_PROJECT_ID=6aa1173b002524b6310f
NEXT_PUBLIC_APPWRITE_PROJECT_NAME=nexora
NEXT_PUBLIC_APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
ZETUPAY_SECRET_KEY=replace_with_your_server_only_zetupay_key
APPWRITE_DATABASE_ID=6aa1baa7003042cae53a
APPWRITE_PAYMENT_LEDGER_ID=6aa1bb94001f00e83353
APPWRITE_SWAP_LEDGER_ID=swap_ledger
APPWRITE_NXR_STATE_TABLE_ID=nxr_state
APPWRITE_API_KEY=replace_with_your_server_only_appwrite_key
BOT_CRON_SECRET=replace_with_a_long_random_scheduler_secret
